{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": false
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "legacyDecorators": true,
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "rules": {
    "semi": [0],
    "no-undef": [0],
    "react/jsx-filename-extension": [0],
    "import/extensions": [0],
    "import/no-extraneous-dependencies": [0],
    "import/no-unresolved": [0],
    "linebreak-style": [0],
    "no-console": [0],
    "camelcase": [0],
    "react/forbid-prop-types": [0],
    "react/require-default-props": [0],
    "react/sort-comp": [0],
    "max-len": [0],
    "no-param-reassign": [0],
    "react/no-danger": [0],
    "react/self-closing-comp": [0],
    "react/jsx-one-expression-per-line": [0],
    "react/prefer-stateless-function": [0],
    "import/prefer-default-export": [0],
    "react/jsx-first-prop-new-line": [0],
    "react/no-unused-state": [0],
    "react/jsx-indent-props": [0],
    "react/jsx-closing-bracket-location": [0],
    "react/no-unused-prop-types": [0],
    "jsx-a11y/anchor-is-valid": [0],
    "jsx-a11y/no-noninteractive-element-interactions": [0],
    "jsx-a11y/mouse-events-have-key-events": [0],
    "jsx-a11y/no-static-element-interactions": [0]
  }
}
